*{
    margin: 0;
    padding:0;
}
body{
    background: url(london.jpg) no-repeat center center fixed;
    background-size: cover;
    
}
.container{
   
    color: white;
    position: absolute;
    top: 16%;
    left: 37%;
}
.container h1{
    font-size: 40px;
    display: inline-block;
    border-bottom: 5px solid purple;
    margin-bottom: 22px;
    padding: 13px;
}

.box {
    width: 100%;
    margin: 2px 25px;
  

}

.box input{ 
    font-size: 25px;
    outline: none;
    color: white;
    width: 75%;
   
    background: none;

}
.box i {
    width: 25px;
    text-align: center;
    font-size:30px;
    color: red;
    padding: 5px 10px;


}
.btn{
    cursor: pointer;
    outline: none;
    width:25%;
    margin:12px;
    font-size:20px ;
    padding: 6px;
    border-radius: 10px;
    border: 5px solid red;
    background: transparent;
    color: white;
}
.btn :hover{
    opacity: 0.1;
    color: purple;
    background-color: white;
}